.collection-image img {
    object-fit: cover;
    height: 400px;
    border-radius: 0px;
    cursor: pointer;
}
.card-text {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}